/* Global Styles */
body {
    
    /* Relative path to your background image file */
    background-image: url("back.jpg");
    /* Optionally, you can control the background size and repeat behavior */
    background-size: cover; /* Options: cover, contain, or specific dimensions */
    background-repeat: no-repeat; /* Options: repeat, repeat-x, repeat-y, or no-repeat */
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px; /* Add a larger border-radius for a curved container */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(42, 21, 21, 0.2);
    letter-spacing: 2px;
    background-color: silver;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 650px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-align: center; /* Center the text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
    letter-spacing: 2px;
    background-color: #007bff; /* Set a background color */
    padding: 10px 20px; /* Add padding to create some spacing around the text */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
    width: 1000px; /* Set a fixed width */
    margin: 0 auto; /* Center the h2 element horizontally */
    
  }
  
  form {
    display: grid;
    grid-gap: 10px;
    border-radius: 20px; /* Add border-radius to form for a curved appearance */
    padding: 20px; /* Add padding to the form to create some spacing from the curved edges */
    width: 450px; /* You can adjust this value based on your preference */
    margin: 0 auto; /* Center the select elements */
  }
  
  input[type="text"],
  select {
    width: 400;
    padding: 10px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    /* Additional styles to minimize width and center the select elements */
    
  }
  
  select {
    appearance: none;
    /* For removing the default arrow in Chrome */
    -webkit-appearance: none;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Specific styles for the "login" class */
  .login {
    margin: 100px auto;
  }
  
  /* Additional styles for the form elements */
  input[type="text"]:focus,
  select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  /* Responsive styles for larger screens */
  @media screen and (min-width: 768px) {
    .container {
      max-width: 600px;
    }
  }
  